<template>
	<div class="container">
		<form @submit="saveProfile">
			<div class="form-group">
				<label for="name">Name</label>
				<input
					class="form-control"
					id="name"
					type="text"
					v-model="name"
					name="name"
					placeholder="Name"
					required
				/>
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input
					class="form-control"
					type="email"
					name="email"
					v-model="email"
					placeholder="Email"
					required
				/>
			</div>
			<div class="form-group">
				<label for="company">Company</label>
				<input class="form-control" type="text" name="company" v-model="company" placeholder="company name">
			</div>
			<div class="form-group">
				<label for="title">Title</label>
				<input class="form-control" type="text" name="title" v-model="title" placeholder="Title">
			</div>
			<div class="form-group">
				<label for="birthdate">Date of birth (YYYY-MM-DD)</label>
				<input class="form-control" type="text" name="birthdate" v-model="birthdate" placeholder="YYYY-MM-DD">
			</div>
			<div class="checkbox">
                <label>
                    <input type="checkbox" name="notification" v-model="notification"> Notification
                </label>
            </div>
            <div class="form-inline">
                <label for="notification_time">Notification Time</label>
                <input class="form-control" type="number" name="interval" v-model="interval" min="1" max="60">
                <select class="form-control" v-model="type">
					<option value="seconds">seconds</option>
					<option value="minutes">minutes</option>
				</select>
			</div>
            <input type="submit" value="submit" class="btn btn-primary" :disabled="loading"  />&nbsp;<span v-if="loading">Loading...</span>
		</form>
	</div>
</template>

<script>
import axios from "axios";

export default {

	name: "CreateProfile",
	data() {
		return {
			name:"",
			email:"",
			company:"",
			title:"",
			birthdate:"",
			notification:0,
			interval:"",
			type:"",
            loading: false,
		};
	},
	methods: {
		saveProfile(e) {
            this.loading = true;
			e.preventDefault();

			const newProfileData = {
				name:this.name,
				email:this.email,
				company:this.company,
				title:this.title,
				birthdate:this.birthdate,
				notification:this.notification ? 1 : 0,
				notification_time: {
					interval:this.interval,
					type:this.type
				}
			};
			newProfileData.notification_time = JSON.stringify(newProfileData.notification_time);
			axios.post("/api/profiles", newProfileData).then(res => {
				if (res.data.errors) {
                    alert('Error: ' + res.data.errors.join("\n"))
                }
				else {
                    this.$router.push('/profiles')
                }
            }).catch(err => alert(err)).finally(() => this.loading = false);
		}
	}
}
</script>
