<template>
	<div class="container">
	<div v-if="loading">Loading...</div>
		<div class="alert alert-info" role="alert" v-bind:style="{visibility: notify?'':'hidden'}">New notification</div>
		<form @submit="updateProfile">
			<div class="form-group">
				<label for="name">Name</label>
				<input
					class="form-control"
					id="name"
					type="text"
					v-model="profile.name"
					name="name"
					placeholder="Name"
					required
				/>
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input class="form-control" type="email" name="email" v-model="profile.email" placeholder="Email">
			</div>
			<div class="form-group">
				<label for="company">Company</label>
				<input class="form-control" type="text" name="company" v-model="profile.company" placeholder="company name">
			</div>
			<div class="form-group">
				<label for="title">Title</label>
				<input class="form-control" type="text" name="title" v-model="profile.title" placeholder="Title">
			</div>
			<div class="form-group">
				<label for="birthdate">Date of birth (YYYY-MM-DD)</label>
				<input class="form-control" type="text" name="birthdate" v-model="profile.birthdate" placeholder="YYYY-MM-DD">
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="notification" v-model="profile.notification">Notification
				</label>
			</div>
			<div class="form-inline">
                <label for="notification_time">Notification Time</label>&nbsp;
                <input class="form-control" type="number" name="interval" 
                v-model="profile.notification_time.interval" min="1" max="60">
                <select class="form-control" v-model="profile.notification_time.type">
					<option value="seconds">seconds</option>
					<option value="minutes">minutes</option>
				</select>
            </div><br />
			<div class="form-group">
                <input type="submit" value="submit" class="btn btn-primary" :disabled="loading" />&nbsp;
                <router-link to="/profiles" tag="button" class="btn btn-primary">Back</router-link>
            </div>
		</form>
	</div>
</template>

<script>
import axios from "axios";

export default {

	name: "EditProfile",
	data() {
		return {
            loading: true,
			profile:{
				notification_time:{}
			},
			notify:false
		};
	},
	methods: {
		async updateProfile(e) {
			e.preventDefault();
            this.loading = true;
			try {
				this.profile.notification_time = JSON.stringify(this.profile.notification_time);
				await axios.put("/api/profiles/" + this.profile.id, this.profile);
				let resp = await axios.put("/api/profiles/" + this.profile.id, this.profile);
                if (resp.data.errors) {
                    alert(resp.data.errors.join("\n"));
                    return;
                }
				this.$router.push('/profiles');
			}
			catch (e) {
				console.log(e);
			} finally {
                this.loading =false;
            }
		},
		setNotify() {
			if (this.profile.notification == 1 && this.profile.notification_time.interval > 0) {
				var notify_time;
				if (this.profile.notification_time.type == "minutes") {
					notify_time = this.profile.notification_time.interval * 60000;
				}

				if (this.profile.notification_time.type == "seconds") {
					notify_time = this.profile.notification_time.interval * 1000;
				}

				setInterval(
					(() => {
						this.notify = true;
						setTimeout(
							() => this.notify = false,
							2000
						)
					}),
					notify_time
				);
			}
		}
	},
	created() {
		const profileId = this.$route.params.id;
        this.loading = true;
		axios.get("/api/profiles/" + profileId)
            .then(res => {
                this.loading = false;
                res.data.notification = parseInt(res.data.notification);

                if (!res.data.notification_time) {
					res.data.notification_time = {};
				}
				else {
					res.data.notification_time = JSON.parse(res.data.notification_time);
				}
                this.profile = res.data;
				this.setNotify();
            }).catch(err => console.log(err)).finally(() => this.loading = false);
	}
}
</script>
