<template>
  <header class="header">
    <h1>Profiles</h1>
    <router-link to="/create">Create Profile</router-link>|
    <router-link to="/profiles">List Profile</router-link>
  </header>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style scoped>
.header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 40px;
}

.header a {
  color: #fff;
  padding-right: 5px;
  text-decoration: none;
}
</style>