<template>
<div>
<div class="container-fluid">
	<div>
		<table class="table">
            <thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Email</th>
				<th>Company</th>
				<th>Title</th>
				<th>Birthdate</th>
				<th>Age</th>
				<th>Notification</th>
				<th>Notification time</th>
				<th>Actions</th>
			</tr>
            </thead>
            <tbody>
			<tr v-bind:key="profile.id" v-for="profile in profiles">
				<td>{{ profile.id }} </td>
				<td>{{ profile.name }}</td>
				<td>{{ profile.email }}</td>
				<td>{{ profile.company }}</td>
				<td>{{ profile.title }}</td>
				<td>{{ profile.birthdate }}</td>
				<td>{{ ageOfPerson(profile.birthdate) }}</td>
				<td>{{ profile.notification }}</td>
				<td>
                    <div v-if="profile.notification && profile.notification_time">
                        {{ profile.notification_time.interval }} 
                        {{ profile.notification_time.type }} 
                    </div>
                </td>
				<td>
					<button @click="viewProfile(profile.id)" class="btn btn-success btn-sm">View</button>&nbsp;
					<button @click="editProfile(profile.id)" class="btn btn-info btn-sm">Edit</button>&nbsp;
					<input type="button" name="delete" class="btn btn-danger btn-sm" value="delete" @click="delProfile(profile.id)" />
				</td>
			</tr>
            </tbody>
		</table>
	</div>
</div>
</div>
</template>
<style>.modal { display: block; }</style>

<script>
import Vue from 'vue';
import Axios from "axios";
import { ModalPlugin, BootstrapVue, BModal, VBModal, IconsPlugin } from 'bootstrap-vue'
Vue.use(ModalPlugin)


export default {
	name:"ListProfile",
	data() {
		return {
			profiles : []			
		};
	},
	methods: {
		viewProfile(id) {
			this.$router.push({path:`/view/${id}`});
		},
		editProfile(id) {
			this.$router.push({path:`/edit/${id}`});
		},
		delProfile(id) {
            this.$bvModal.msgBoxConfirm('Are you sure to delete record?').then((resp) => {
                if (!resp) return; 

                Axios.delete(`/api/profiles/${id}`).then(() => {
                    this.profiles = this.profiles.filter(item => item.id != id);
                }).catch(err => console.log(err));
            });
		},
        getData() {
            Axios.get("/api/profiles")
                .then(res => {
                    for (let row of res.data) {
                        if (row.notification) {
                            row.notification_time = JSON.parse(row.notification_time);
                        }
                    }
                    this.profiles = res.data
                })
                .catch(err => console.log(err));
        },
		ageOfPerson(DOB) {
			var today = new Date();
			var birthDate = new Date(DOB);
			var age = today.getFullYear() - birthDate.getFullYear();
			var m = today.getMonth() - birthDate.getMonth();
			if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
				age = age - 1;
			}
			return age;
		}
	},
    mounted() {
        this.intr = setInterval((() => {
            this.getData();
        }).bind(this), 10000);

    },
    destroyed() {
        if (this.intr) clearInterval(this.intr);
    },
	created() {
        this.getData();
	}
}
</script>

<style scoped>
th,td {
	text-align: center;
}
</style>
