<template>
	<div class="container">
		<div class="alert alert-info" role="alert" v-bind:style="{visibility: notify?'':'hidden'}">New notification</div>
		<form>
			<fieldset disabled="disabled">
			<div class="form-group">
				<label for="name">Name</label>
				<input
					class="form-control"
					id="name"
					type="text"
					v-model="profile.name"
					name="name"
					placeholder="Name"
					required
				/>
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input class="form-control" type="email" name="email" v-model="profile.email" placeholder="Email">
			</div>
			<div class="form-group">
				<label for="company">Company</label>
				<input class="form-control" type="text" name="company" v-model="profile.company" placeholder="company name">
			</div>
			<div class="form-group">
				<label for="title">Title</label>
				<input class="form-control" type="text" name="title" v-model="profile.title" placeholder="Title">
			</div>
			<div class="form-inline">
				<label for="birthdate">Date of birth (YYYY-MM-DD)</label>
				<input class="form-control ml-5" type="text" name="birthdate" v-model="profile.birthdate" placeholder="YYYY-MM-DD">
				<label for="age" class="ml-10">Person's Age</label>
				<input class="form-control ml-5" type="text" name="age"
				v-bind:value="ageOfPerson()">
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="notification" v-model="profile.notification">Notification
				</label>
			</div>
			<div class="form-inline">
                <label for="notification_time">Notification Time</label>
                <input class="form-control ml-5" type="number" name="interval" 
                v-model="profile.notification_time.interval" min="1" max="60">
                <select class="form-control ml-5" v-model="profile.notification_time.type">
					<option value="seconds">seconds</option>
					<option value="minutes">minutes</option>
				</select>
			</div>
			</fieldset>
			<router-link to="/profiles" tag="button" class="btn btn-primary">Back</router-link>
		</form>
	</div>
</template>

<script>
import axios from "axios";

export default {

	name: "ViewProfile",
	data() {
		return {
            loading: true,
			profile:{
				notification_time:{}
			},
			notify:false
		};
	},
	methods: {
		ageOfPerson() {
			var today = new Date();
			var birthDate = new Date(this.profile.birthdate);
			var age = today.getFullYear() - birthDate.getFullYear();
			var m = today.getMonth() - birthDate.getMonth();
			if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
				age = age - 1;
			}
			return age;
		},
		setNotify() {
			if (this.profile.notification == 1 && this.profile.notification_time.interval > 0) {
				var notify_time;
				if (this.profile.notification_time.type == "minutes") {
					notify_time = this.profile.notification_time.interval * 60000;
				}

				if (this.profile.notification_time.type == "seconds") {
					notify_time = this.profile.notification_time.interval * 1000;
				}

				setInterval(
					(() => {
						this.notify = true;
						setTimeout(
							() => this.notify = false,
							2000
						)
					}),
					notify_time
				);
			}
		}
	},
	created() {
		const profileId = this.$route.params.id;
        this.loading = true;
		axios.get("/api/profiles/" + profileId)
            .then(res => {
                this.loading = false;
                res.data.notification = parseInt(res.data.notification);

                if (!res.data.notification_time) {
                    res.data.notification_time = {};
				}
				else {
					res.data.notification_time = JSON.parse(res.data.notification_time);
				}
                this.profile = res.data;
				this.setNotify();
            }).catch(err => console.log(err)).finally(() => this.loading = false);
	}
}
</script>

<style scoped>
.ml-10 {
	margin-left: 10px;
}
.ml-5 {
	margin-left: 5px;
}
</style>